<!doctype html>
<html>
  <head>
      <a href="/">Home</a>
      <a href="about">About </a>
      <a href="search">Search Books</a>
      <a href="addbook">Add A Book</a>
      <a href="list">List Books</a>
      <a href="bargainbooks">Bargain Books</a>
      <a href="register">Register</a>
      <a href="listusers">List All Users</a>
      <a href="login">Login Page</a>
    </ul>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  <style>

  </style>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>We sell all sorts of books and nothing else!</p>
  </body>
</html>