<!doctype html>
<html>
  <head>
  <a href="about">About <%=shopName%></a>
  <a href="search">Search for books</a>
  <a href="addbook">Add a new book</a>
  <a href="list">List books</a>
  <a href="bargainbooks">Bargain books</a>
  <a href="register">Register with us</a>
  <a href="listusers">List all Users</a>
  <a href="login">Login</a>

    <h1>Welcome to <%=shopName%></h1>

  <title>Welcome To <%=shopName%></title>
  <link rel="stylesheet"  type="text/css" href="main.css" />

    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>

  </body>
</html>
