<!doctype html>
<html>
  <head>
      <ul>
    <li><a href="/">Home</a></li>
    <li><a href="about">About </a></li>
    <li><a href="search">Search Books</a></li>
    <li><a href="addbook">Add A Book</a></li>
    <li><a href="list">List Books</a></li>
    <li><a href="bargainbooks">Bargain Books</a></li>
    <li><a href="register">Register</a></li>
    <li><a href="listusers">List All Users</a></li>
    <li><a href="login">Login Page</a></li>
    <li><a href="deleteuser">Delete a User</a></li>
  </ul>
  <title>Register for <%=shopName%></title>
  <link rel="stylesheet"  type="text/css" href="main.css" />
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search for books</a></p>
    <p><a href="addbook">Add a new book</a></p>
    <p><a href="list">List books</a></p>
    <p><a href="bargainbooks">Bargain books</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="listusers">List all Users</a></p>
    <p><a href="login">Login</a></p>
  </body>
</html>
