<!doctype html>
<html>
  <head>
    <a href="/">Home</a>
    <a href="about">About </a>
    <a href="search">Search Books</a>
    <a href="addbook">Add A Book</a>
    <a href="list">List Books</a>
    <a href="bargainbooks">Bargain Books</a>
    <a href="listusers">List All Users</a>
    <a href="register">Register</a>
    <a href="login">Login Page</a>
    <a href="deleteuser">Delete a User</a>
    <a href="logout">Log Out</a>
    <a href="weather">Weather</a>
    <a href="api">Books API</a>
    <a href="tvshows">TV Shows</a>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />

    <title>Search <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <form action="/search-result" method="GET">
      <p>What book do you want?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>