<!doctype html>
<html>
  <head>
    <a href="/">Home</a>
    <a href="about">About </a>
    <a href="search">Search Books</a>
    <a href="addbook">Add A Book</a>
    <a href="list">List Books</a>
    <a href="bargainbooks">Bargain Books</a>
    <a href="listusers">List All Users</a>
    <a href="register">Register</a>
    <a href="login">Login Page</a>
    <a href="deleteuser">Delete a User</a>
    <a href="logout">Log Out</a>
    <a href="weather">Weather</a>
    <a href="api">Books API</a>
    <a href="tvshows">TV Shows</a>

    <h1>Find the title of the first episode of any TV Show!</h1>


  <title>Welcome To <%=shopName%></title>
  <link rel="stylesheet"  type="text/css" href="main.css" />

    <title>Search TV Shows!</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <form method="POST" action="/showtvshows">
      <p>Enter a search term: <input id="location" type="text" name="location" value="" /></p>
      <input type="submit" value="Search" />

  </body>
</html>
